.form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}

.form {
  display: flex;
  padding: 40px 20px;
  border: 1px solid black;
  border-radius: 20px;
  max-width: fit-content;
}

.relative {
  position: relative;
}

.password {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
