.form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}

.form {
  height: 100%;
  width: 100%;
}

.relative {
  position: relative;
}

.password {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
